<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">
		<parameter name="UserName" value="Rajiv Jindal" />
		<classes>
			<class name="testCases.Scenario1Test" />
			<class name="testCases.Scenario2Test" />
		</classes>
	</test> 
</suite> 
